[submodule "libs/system"]
	path = libs/system
	url = git@github.com:context-clj/system.git
[submodule "libs/pg"]
	path = libs/pg
	url = git@github.com:context-clj/pg.git
[submodule "libs/http"]
	path = libs/http
	url = git@github.com:context-clj/http.git
