{:paths ["src"]
 :jvm-opts ["-Djdk.attach.allowAttachSelf"]
 :deps {org.clojure/clojure       {:mvn/version "1.12.0"}
        cheshire/cheshire         {:mvn/version "5.10.2"}
        clj-commons/clj-yaml      {:mvn/version "0.7.106"}
        pjson/pjson               {:mvn/version "1.0.0"}

        healthsamurai/matcho        {:mvn/version "0.3.8"}

        org.clojure/tools.cli {:mvn/version "1.1.230"}

        context/system      {:local/root "./libs/system"}
        context/pg          {:local/root "./libs/pg"}
        context/http        {:local/root "./libs/http"}
        context/gcs         {:local/root "./libs/gcs"}
        fhir/fhir           {:local/root "./libs/fhir"}

        danlentz/clj-uuid {:mvn/version "0.2.0"}

        }

 :aliases
 {:dev
  {:extra-paths ["dev" "test" "resources"]
   :jvm-opts ["-Dclojure.compiler.direct-linking=true"
              "-XX:MaxDirectMemorySize=16g" "-XX:+UseLargePages"
              "--add-opens=java.base/java.nio=ALL-UNNAMED"
              "--add-opens=java.base/jdk.internal.ref=ALL-UNNAMED"
              "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
  :nrepl
  {:extra-paths ["test"]
   :extra-deps  {cider/cider-nrepl {:mvn/version "LATEST"}}
   :jvm-opts ["-Djdk.attach.allowAttachSelf"]

   :main-opts   ["-m" "nrepl.cmdline" "-b" "0.0.0.0" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.77.1236"}}
   :extra-paths ["test"]
   :jvm-opts   ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "kaocha.runner"]}

  :run {:extra-paths ["dev"]
        :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
        :main-opts   ["-m" "zd.hsm"]}}}
